@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 640px;
  position: relative;
  background-color: white;
}

hr {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  margin: 20px 0px 20px 0px;
}

.container {
  margin: auto;
  width: 100%;
  min-height: 100%;
  max-width: 700px;
  background-color: #fafafa;
  position: relative;
}

.title {
  width: 100%;
  background-color: white;
  padding: 20px 0px 20px 0px;
}

.contents {
  padding: 25px 0px 100px 0px;
}

.margin{
  border-left: 70px;
  border-right: 70px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0);
}

.button{
  border-radius: 40px;
  border-width: 1px;
  border-color: green;
  border-style: solid;
  background-color: #fff;
  padding: 5px 20px 5px 20px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}

.button:hover {
}

.button:active {
  background-color: #f0f0f0;
}

h1.title {
  color: #28227D;
  font-size: 21px;
  font-weight: 700;
  line-height: 2em;
}

h2.sub_title {
  color: #1C1940;
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid green;
    box-sizing: border-box;
}

.rules {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}

.error {
    display: none;
    font-size: 12px;
    color: red;
    margin-top: 3px;
}

input:invalid + .rules + .error {
    display: block;
}

input:invalid + .rules {
    display: none;
}

a { text-decoration: none; }
a:link { color: #9a9a9a; }
a:visited { color: #9a9a9a; }
